.main {
  position: relative;
  /* border: 2px solid red; */
  min-height: 100vh;
}

.navbar {
  height: 70px;
  background: #50A495;
  padding: 0 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar > input{
  background: white;
  height: 40px;
  width: 70%;
  border: none;
  border-radius: 25px;
  padding: 20px;
}


.titlebox {
  /* border: 2px solid red; */
  padding: 40px 30px 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color:#428579;


}
.titlebox > h4 {
  font-size: 1.3rem;
}
.addbtns {
  font-size: 2rem;
}


.events {
  padding: 30px;
  border-radius: 25px;
  width: 90%;
  margin: 0 auto;
  box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.421);
  max-height: 300px;
  overflow-y: scroll;

}
.events::-webkit-scrollbar {
  width: 0;
}
.eventlink {
  background: lightgray;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin: 10px 0;
  position: relative;
  overflow: hidden;
  color: white;
}
.yellow {
  background: #ECEF5F;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  position: absolute;
  right: -25px;
  top: 0;
}
.green {
  background: #CDCA7B;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  position: absolute;
  right: -25px;
  top: 0;
}

.exit {
  position: absolute;
  bottom: 20px;
  left: 20px;
}