
.newalist {
    background: white;
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    padding: 50px 40px;
    z-index: 3;
}

.newalist > h3 {
    text-align: center;
    padding: 20px 0;
    color: #50A495;
}
.exitlist {
    font-size: 1.5rem;
    position: absolute;
    right: 40px;
    top: 30px;
}

.qbox {
    /* border: 2px solid red; */
    margin: 20px 0;
}
.checks {
    background: #ECEF5F;
    border-radius: 25px;
    padding: 20px;
}
.locations {
    display: flex;
    flex-direction: column;
}

.newalist > form > button {
    background: #CDCA7B;
    color: white;
    border-radius: 20px;
    border: none;
    padding: 10px 20px;
    display: block;
    margin: 0 auto;
}