

.searchpopup {
    background: rgb(80,164,149);
    background: linear-gradient(0deg, rgb(246, 234, 234) 0%, rgba(80,164,149,1) 100%);
    height: 100%;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 100%;
    padding: 20px 30px;
}

.exitsearch {
    font-size: 1.5rem;
    position: absolute;
    right: 30px;
    z-index: 2;
    color: rgb(0, 0, 0);
}
.headingbar, .searchpopup > h4 {
    display: flex;
    position: relative;
    z-index: 2;
    color: white;
    font-size: 1.3rem;

}
.searchinfo {
    position: relative;
    /* border: 2px solid red; */
}




.search {
    background: white;
    border: none;
    border-radius: 20px;
    padding: 10px;
    width: 60%;
    display: block;
    margin: 20px auto;
}
/* .results {
     border: 2px solid red;
} */

.results > div {
    background: #50A495;
    color: white;
    border-radius: 15px;
    display: flex;
    justify-content: flex-start;
    padding: 20px;
    margin: 10px auto;
    width: 80%;
  }